{% extends "registration/registration_base.html" %}
{% load static crispy_forms_tags i18n %}
{% block title %}{{app_settings.site_name}}{% endblock %}

{% block content %}

<div class="col-xl-12 bg-white log-image1 ">
    <row class="row justify-content-center align-items-center h-100 mx-0">
        <div class="col-xxl-12 col-xl-10 col-lg-7 col-md-8 col-sm-8 col-12">
            <div class="container">
                <div class="customlogin-content py-4 mx-auto">
                    <div class="ps-2">
                        <a class="header-brand" href="{% url 'core:home' %}">
                            <img src="{% static 'app/assets/images/brand-logos/desktop-logo.png' %}"
                                class="header-brand-img custom-logo" alt="logo">
                            <img src="{% static 'app/assets/images/brand-logos/desktop-dark.png' %}"
                                class="header-brand-img custom-logo-dark" alt="logo">
                        </a>
                    </div>
                  
                    <form class="p-4 pt-3 pb-3" id="login" method="post" name="login">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="submit">
                            <button type="submit" class="btn custom-btn d-grid w-100">Login</button>
                        </div>
                        
                    </form>
                   
                </div>
            </div>
        </div>
    </row>
</div>
{% endblock content %}
