{% load static %}
<aside class="app-sidebar sticky" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="{% url 'core:home' %}" class="header-logo">
            <img src="{% static 'app/assets/images/brand-logos/desktop-logo.png' %}" alt="logo" class="desktop-logo">
            <img src="{% static 'app/assets/images/brand-logos/toggle-logo.png' %}" alt="logo" class="toggle-logo">
            <img src="{% static 'app/assets/images/brand-logos/desktop-dark.png' %}" alt="logo" class="desktop-dark">
            <img src="{% static 'app/assets/images/brand-logos/toggle-dark.png' %}" alt="logo" class="toggle-dark">
            <img src="{% static 'app/assets/images/brand-logos/desktop-white.png' %}" alt="logo" class="desktop-white">
            <img src="{% static 'app/assets/images/brand-logos/toggle-white.png' %}" alt="logo" class="toggle-white">
        </a>
    </div>
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
             <!-- Start::Sidebar User -->
            {% comment %} <div class="app-sidebar__user mb-3">
                <div class="dropdown user-pro-body text-center user-pic">
                    <span class="avatar avatar-xxl online avatar-rounded">
                        <img src="{% static 'app/assets/images/users/16.jpg' %}" alt="img">
                    </span>
                    <div class="user-info mt-1">
                        <h5 class=" mb-1">Abigali kelly</h5>
                        <span class="text-muted app-sidebar__user-name text-sm">App Developer</span>
                    </div>
                </div>
            </div> {% endcomment %}
             <!-- End::Sidebar User -->
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
            </div>
            <ul class="main-menu">

                <!-- Start::slide -->
                <li class="slide ">
                    <a href="{% url 'core:home' %}" class="side-menu__item {% if is_dashboard %}active{% endif %}">
                        <i class="fe fe-home side-menu__icon"></i>
                        <span class="side-menu__label">Dashboard</span>
                    </a>
                </li>
                <!-- End::slide -->


                <!-- Start::slide -->
                    <li class="slide ">
                        <a href="{% url 'users:user_profile_list' %}" class="side-menu__item {% if is_user_profile %}active{% endif %}">
                            <i class="la la-user side-menu__icon"></i>
                            <span class="side-menu__label">Users</span>
                        </a>
                    </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide ">
                    <a href="{% url 'users:college_user_profile_list' %}" class="side-menu__item {% if is_college_user_profile %}active{% endif %}">
                        <i class="la la-graduation-cap side-menu__icon"></i>
                        <span class="side-menu__label">College Users</span>
                    </a>
                </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                    <li class="slide ">
                        <a href="{% url 'masters:request_submission_list' %}" class="side-menu__item {% if is_request_submission %}active{% endif %}">
                            <i class="la la-list side-menu__icon"></i>
                            <span class="side-menu__label">Request Submission</span>
                        </a>
                    </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                    <li class="slide ">
                        <a href="{% url 'masters:request_submission_type_list' %}" class="side-menu__item {% if is_request_submission_type %}active{% endif %}">
                            <i class="la la-clipboard-list side-menu__icon"></i>
                            <span class="side-menu__label">Request Submission Titles</span>
                        </a>
                    </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                    <li class="slide ">
                        <a href="{% url 'masters:memo_list' %}" class="side-menu__item {% if is_memo %}active{% endif %}">
                            <i class="la la-file-alt side-menu__icon"></i>
                            <span class="side-menu__label">Memo</span>
                        </a>
                    </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide ">
                    <a href="{% url 'masters:request_submission_create' %}" class="side-menu__item {% if is_request_submission_form %}active{% endif %}">
                        <i class="la la-clipboard side-menu__icon"></i>
                        <span class="side-menu__label">Request Submission Form</span>
                    </a>
                </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                    <li class="slide ">
                        <a href="{% url 'masters:my_request_submission_list' %}" class="side-menu__item {% if is_request_submission_form %}active{% endif %}">
                            <i class="la la-list side-menu__icon"></i>
                            <span class="side-menu__label">My Request Submission List</span>
                        </a>
                    </li>
                <!-- End::slide -->

            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
            
        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>